@page
@model aspcore.Pages.CreateBugModel
@{

}
<h1>Create Bugs</h1>
<form method="post" >
    <div class="row form-group">
        <div class="col-8">
            <label>Name</label>
            <input type="text" class="form-control" asp-for="name">

            <label for="">Description</label>
            <input type="text" class="form-control" asp-for="desc">

            <button class="btn btn-primary m-2">Save</button>
        </div>
    </div>
</form>